.venv
venv
__pycache__
*.pyc
.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.sqlite3
.env
htmlcov
coverage.xml
coverage_new.xml
node_modules
.tmp
logs
grafana
prometheus.yml
schema.yml
openapi.json
